{% extends "admin.html" %}
{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Add Books
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <form role="form">
              <div class="box-body">
                <div class="form-group">
                  <label>Book name</label>
                  <input type="text" class="form-control" id="book_name" placeholder="Enter book name">
                </div>
                  <div class="form-group">
                  <label>Book description</label>
                  <input type="text" class="form-control" id="description" placeholder="Enter description">
                </div>
                  <div class="form-group">
                  <label>Author</label>
                  <input type="text" class="form-control" id="author" placeholder="Who is the author?">
                </div>
                <div class="form-group">
                  <label>International Standard Book Number</label>
                  <input type="text" class="form-control" id="isbn" placeholder="Enter the ISBN">
                </div>
                  <div class="form-group">
                  <label>Type</label>
                  <input type="text" class="form-control" id="type" placeholder="Enter the type">
                </div>
                <div class="form-group">
                  <label for="exampleInputFile">File input</label>
                  <input type="file" id="exampleInputFile">
                </div>
              </div>
              <div class="box-footer">
                <button type="submit" class="btn btn-primary" id="submitBook">Submit</button>
              </div>
            </form>
          </div>
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  {% endblock content%}
