{% extends "admin_layout.html" %}
{% block content %}

<div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
		  <li class="nav-item">
			  <a class="nav-link" href="{{url_for('dashboard')}}">
            	<i class="fas fa-fw fa-folder"></i>
            	<span>Dashboard</span>
			  </a>
		  </li>
		  <li class="nav-item">
			  	<a class="nav-link" href="admin_all_user">
            	<i class="fas fa-fw fa-tachometer-alt"></i>
            	<span>Users</span>
          		</a>
		  </li>
		  <li class="nav-item active">
          	<a class="nav-link" href="{{url_for('admin_books')}}">
            	<i class="fas fa-fw fa-chart-area"></i>
            	<span>Books</span></a>
		  </li>
		  <li class="nav-item">
          	<a class="nav-link" href="#">
            	<i class="fas fa-fw fa-table"></i>
            	<span>Logout</span></a>
        	</li>
      </ul>

      <div class="container-fluid">

        <form class="login100-form validate-form" id="submit_books">
			<span class="login100-form-title p-b-59">
				Add Books
			</span>

			<div class="wrap-input100 validate-input" data-validate="Name is required">
				<span class="label-input100">Name</span>
					<input class="input100" type="text" id="name" placeholder="Name...">
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input" data-validate = "Description is required">
				<span class="label-input100">Description</span>
					<input class="input100" type="text" id="description" placeholder="Description...">
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input" data-validate="Genre is required">
				<span class="label-input100">Genre</span>
					<input class="input100" type="text" id="genre" placeholder="Genre...">
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input" data-validate="Image link is required">
				<span class="label-input100">Image Link</span>
					<input class="input100" type="text" id="image_link" placeholder="Image link...">
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input" data-validate="Image link is required">
				<span class="label-input100">Author</span>
					<input class="input100" type="text" id="author" placeholder="Author...">
				<span class="focus-input100"></span>
			</div>

			<div class="container-login100-form-btn">
				<div class="wrap-login100-form-btn">
					<div class="login100-form-bgbtn"></div>
						<button class="login100-form-btn" id="submitBook">
							Add Books
						</button>
					</div>
            </div>
		</form>



	  </div>
</div>
{% endblock content%}