{% extends "admin.html" %}
{% block content %}

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Users</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Email address</th>
                  <th>First name</th>
                  <th>Last name</th>
                  <th>Password</th>
                  <th>Status</th>
                  <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                {% for x in users %}
                <tr>

                  <td>{{ x[3] }}</td>
                  <td>{{ x[1] }}</td>
                  <td>{{ x[2] }}</td>
                  <td>{{ x[4] }}</td>
                  <td>{{ x[5] }}</td>
                  <td><button>Edit</button></td>

                </tr>
                {% endfor %}
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock content%}
