<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Myriad | Dashboard</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/Ionicons/css/ionicons.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/AdminLTE.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/skins/_all-skins.min.css')}}">
  <link rel="stylesheet" href="'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/product-lists/product-list-vertical.css')}}">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header class="main-header">
    <a href="{{ url_for('user')}}" class="logo">
      <span class="logo-lg">User</span>
    </a>
    <nav class="navbar navbar-static-top">
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="static/dist/img/avatar.png" class="user-image" alt="User Image">
              <span class="hidden-xs" id="name">
              </span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="{{ url_for('index')}}" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header"></li>
        <li class="treeview">
            <i class="fa fa-edit"></i> <span><a href="{{ url_for('library') }}">My Library</a></span>
        <li class="treeview">
            <i class="fa fa-edit"></i> <span><a href="{{ url_for('browse') }}">Browse Books</a></span>
        </li>
      </ul>
    </section>
  </aside>
  <div class="content-wrapper">
    <section class="content">

      {% block content %}

            {% endblock %}
    </section>
  </div>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
    reserved.
  </footer>
  <div class="control-sidebar-bg"></div>
</div>

<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='bower_components/jquery-ui/jquery-ui.min.js')}}"></script>
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='bower_components/raphael/raphael.min.js')}}"></script>
<script src="{{ url_for('static', filename='bower_components/morris.js/morris.min.js')}}"></script>
<script src="{{ url_for('static', filename='bower_components/jquery-sparkline/dist/jquery.sparkline.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/jvectormap/jquery-jvectormap-world-mill-en.js')}}"></script>
<script src="{{ url_for('static', filename='bower_components/jquery-knob/dist/jquery.knob.min.js')}}"></script>
<script src="{{ url_for('static', filename='bower_components/moment/min/moment.min.js')}}"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap-daterangepicker/daterangepicker.js')}}"></script>
<script src="{{ url_for('static', filename='bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')}}"></script>
<script src="{{ url_for('static', filename='bower_components/jquery-slimscroll/jquery.slimscroll.min.js')}}"></script>
<script src="{{ url_for('static', filename='bower_components/fastclick/lib/fastclick.js')}}"></script>
<script src="{{ url_for('static', filename='dist/js/adminlte.min.js')}}"></script>
<script src="{{ url_for('static', filename='dist/js/pages/dashboard.js')}}"></script>
<script src="{{ url_for('static', filename='dist/js/demo.js')}}"></script>
<script src="{{ url_for('static', filename='js/add_books.js')}}"></script>
<script src="{{ url_for('static', filename='js/add_user.js')}}"></script>
<script src="{{ url_for('static', filename='js/save_books.js')}}"></script>
</body>
</html>
